<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    On the following page, you will be shown pictures of two bugs,
            a vespula and weevil. Each of these bugs have specific parameters
            for their body width and height which allow us to differentiate
            between the two.
	    </p>
	    
	    <p>
	    	When the experiment begins, you will choose measurements for two bugs. You can choose a combination of one vespula and one weevil, two vespulas, or two weevils. These measurements will be used to teach another person how to differentiate between the two types of bugs without knowing the specific parameters. Your goal is to choose the height and width that will most effectively teach the person.
        </p>

        <p>
        	
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primar y btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
