<div id="container-exp">
    <div>
        <div class="col-lg-12">
          <h4 id="instructions">Show someone who can't see the score and doesn't know how much colors are worth the value of each color and the living cost.</h4>
          <h4>Click on neighboring squares to move</h4>
          <h3 style="display: inline">Black: </h3><h3 style="display: inline" id="black-value">, </h3>
          <h3 style="display: inline">Dark Gray: </h3><h3 style="display: inline" id="dark-gray-value">, </h3>
          <h3 style="display: inline">Gray: </h3><h3 style="display: inline" id="gray-value">, </h3>
          <h3 style="display: inline">Light Gray: </h3><h3 style="display: inline" id="light-gray-value">, </h3>
          <h3 style="display: inline">White: </h3><h3 style="display: inline" id="white-value">, </h3>
          <h3 style="display: inline">Living Cost: </h3><h3 style="display: inline" id="living-reward"></h3>
          <p></p>
          <i>If lines appear incorrectly, click 'Clear All' to start this scenario over and don't scroll or resize this window.</i>
          <table style="width: 80ch">
            <tr>
              <td><div class="grid-item" id="square-0" onclick="connectPath(0)"></div></td>
              <td><div class="grid-item" id="square-1" onclick="connectPath(1)"></div></td>
              <td><div class="grid-item" id="square-2" onclick="connectPath(2)"></div></td>
              <td><div class="grid-item" id="square-3" onclick="connectPath(3)"></div></td>
              <td><div class="grid-item" id="square-4" onclick="connectPath(4)"></div></td>
              <td><div class="grid-item" id="square-5" onclick="connectPath(5)"></div></td>
              <td><div class="grid-item" id="square-6" onclick="connectPath(6)"></div></td>
              <td><div class="grid-item" id="square-7" onclick="connectPath(7)"></div></td>
              <td><div class="grid-item" id="square-8" onclick="connectPath(8)"></div></td>
              <td><div class="grid-item" id="square-9" onclick="connectPath(9)"></div></td>
            </tr>

            <tr>
              <td><div class="grid-item" id="square-10" onclick="connectPath(10)"></div></td>
              <td><div class="grid-item" id="square-11" onclick="connectPath(11)"></div></td>
              <td><div class="grid-item" id="square-12" onclick="connectPath(12)"></div></td>
              <td><div class="grid-item" id="square-13" onclick="connectPath(13)"></div></td>
              <td><div class="grid-item" id="square-14" onclick="connectPath(14)"></div></td>
              <td><div class="grid-item" id="square-15" onclick="connectPath(15)"></div></td>
              <td><div class="grid-item" id="square-16" onclick="connectPath(16)"></div></td>
              <td><div class="grid-item" id="square-17" onclick="connectPath(17)"></div></td>
              <td><div class="grid-item" id="square-18" onclick="connectPath(18)"></div></td>
              <td><div class="grid-item" id="square-19" onclick="connectPath(19)"></div></td>
            </tr>

            <tr>
              <td><div class="grid-item" id="square-20" onclick="connectPath(20)"></div></td>
              <td><div class="grid-item" id="square-21" onclick="connectPath(21)"></div></td>
              <td><div class="grid-item" id="square-22" onclick="connectPath(22)"></div></td>
              <td><div class="grid-item" id="square-23" onclick="connectPath(23)"></div></td>
              <td><div class="grid-item" id="square-24" onclick="connectPath(24)"></div></td>
              <td><div class="grid-item" id="square-25" onclick="connectPath(25)"></div></td>
              <td><div class="grid-item" id="square-26" onclick="connectPath(26)"></div></td>
              <td><div class="grid-item" id="square-27" onclick="connectPath(27)"></div></td>
              <td><div class="grid-item" id="square-28" onclick="connectPath(28)"></div></td>
              <td><div class="grid-item" id="square-29" onclick="connectPath(29)"></div></td>
            </tr>

            <tr>
              <td><div class="grid-item" id="square-30" onclick="connectPath(30)"></div></td>
              <td><div class="grid-item" id="square-31" onclick="connectPath(31)"></div></td>
              <td><div class="grid-item" id="square-32" onclick="connectPath(32)"></div></td>
              <td><div class="grid-item" id="square-33" onclick="connectPath(33)"></div></td>
              <td><div class="grid-item" id="square-34" onclick="connectPath(34)"></div></td>
              <td><div class="grid-item" id="square-35" onclick="connectPath(35)"></div></td>
              <td><div class="grid-item" id="square-36" onclick="connectPath(36)"></div></td>
              <td><div class="grid-item" id="square-37" onclick="connectPath(37)"></div></td>
              <td><div class="grid-item" id="square-38" onclick="connectPath(38)"></div></td>
              <td><div class="grid-item" id="square-39" onclick="connectPath(39)"></div></td>
            </tr>

            <tr>
              <td><div class="grid-item" id="square-40" onclick="connectPath(40)"></div></td>
              <td><div class="grid-item" id="square-41" onclick="connectPath(41)"></div></td>
              <td><div class="grid-item" id="square-42" onclick="connectPath(42)"></div></td>
              <td><div class="grid-item" id="square-43" onclick="connectPath(43)"></div></td>
              <td><div class="grid-item" id="square-44" onclick="connectPath(44)"></div></td>
              <td><div class="grid-item" id="square-45" onclick="connectPath(45)"></div></td>
              <td><div class="grid-item" id="square-46" onclick="connectPath(46)"></div></td>
              <td><div class="grid-item" id="square-47" onclick="connectPath(47)"></div></td>
              <td><div class="grid-item" id="square-48" onclick="connectPath(48)"></div></td>
              <td><div class="grid-item" id="square-49" onclick="connectPath(49)"></div></td>
            </tr>

            <tr>
              <td><div class="grid-item" id="square-50" onclick="connectPath(50)"></div></td>
              <td><div class="grid-item" id="square-51" onclick="connectPath(51)"></div></td>
              <td><div class="grid-item" id="square-52" onclick="connectPath(52)"></div></td>
              <td><div class="grid-item" id="square-53" onclick="connectPath(53)"></div></td>
              <td><div class="grid-item" id="square-54" onclick="connectPath(54)"></div></td>
              <td><div class="grid-item" id="square-55" onclick="connectPath(55)"></div></td>
              <td><div class="grid-item" id="square-56" onclick="connectPath(56)"></div></td>
              <td><div class="grid-item" id="square-57" onclick="connectPath(57)"></div></td>
              <td><div class="grid-item" id="square-58" onclick="connectPath(58)"></div></td>
              <td><div class="grid-item" id="square-59" onclick="connectPath(59)"></div></td>
            </tr>

            <tr>
              <td><div class="grid-item" id="square-60" onclick="connectPath(60)"></div></td>
              <td><div class="grid-item" id="square-61" onclick="connectPath(61)"></div></td>
              <td><div class="grid-item" id="square-62" onclick="connectPath(62)"></div></td>
              <td><div class="grid-item" id="square-63" onclick="connectPath(63)"></div></td>
              <td><div class="grid-item" id="square-64" onclick="connectPath(64)"></div></td>
              <td><div class="grid-item" id="square-65" onclick="connectPath(65)"></div></td>
              <td><div class="grid-item" id="square-66" onclick="connectPath(66)"></div></td>
              <td><div class="grid-item" id="square-67" onclick="connectPath(67)"></div></td>
              <td><div class="grid-item" id="square-68" onclick="connectPath(68)"></div></td>
              <td><div class="grid-item" id="square-69" onclick="connectPath(69)"></div></td>
            </tr>

            <tr>
              <td><div class="grid-item" id="square-70" onclick="connectPath(70)"></div></td>
              <td><div class="grid-item" id="square-71" onclick="connectPath(71)"></div></td>
              <td><div class="grid-item" id="square-72" onclick="connectPath(72)"></div></td>
              <td><div class="grid-item" id="square-73" onclick="connectPath(73)"></div></td>
              <td><div class="grid-item" id="square-74" onclick="connectPath(74)"></div></td>
              <td><div class="grid-item" id="square-75" onclick="connectPath(75)"></div></td>
              <td><div class="grid-item" id="square-76" onclick="connectPath(76)"></div></td>
              <td><div class="grid-item" id="square-77" onclick="connectPath(77)"></div></td>
              <td><div class="grid-item" id="square-78" onclick="connectPath(78)"></div></td>
              <td><div class="grid-item" id="square-79" onclick="connectPath(79)"></div></td>
            </tr>

            <tr>
              <td><div class="grid-item" id="square-80" onclick="connectPath(80)"></div></td>
              <td><div class="grid-item" id="square-81" onclick="connectPath(81)"></div></td>
              <td><div class="grid-item" id="square-82" onclick="connectPath(82)"></div></td>
              <td><div class="grid-item" id="square-83" onclick="connectPath(83)"></div></td>
              <td><div class="grid-item" id="square-84" onclick="connectPath(84)"></div></td>
              <td><div class="grid-item" id="square-85" onclick="connectPath(85)"></div></td>
              <td><div class="grid-item" id="square-86" onclick="connectPath(86)"></div></td>
              <td><div class="grid-item" id="square-87" onclick="connectPath(87)"></div></td>
              <td><div class="grid-item" id="square-88" onclick="connectPath(88)"></div></td>
              <td><div class="grid-item" id="square-89" onclick="connectPath(89)"></div></td>
            </tr>

            <tr>
              <td><div class="grid-item" id="square-90" onclick="connectPath(90)"></div></td>
              <td><div class="grid-item" id="square-91" onclick="connectPath(91)"></div></td>
              <td><div class="grid-item" id="square-92" onclick="connectPath(92)"></div></td>
              <td><div class="grid-item" id="square-93" onclick="connectPath(93)"></div></td>
              <td><div class="grid-item" id="square-94" onclick="connectPath(94)"></div></td>
              <td><div class="grid-item" id="square-95" onclick="connectPath(95)"></div></td>
              <td><div class="grid-item" id="square-96" onclick="connectPath(96)"></div></td>
              <td><div class="grid-item" id="square-97" onclick="connectPath(97)"></div></td>
              <td><div class="grid-item" id="square-98" onclick="connectPath(98)"></div></td>
              <td><div class="grid-item" id="square-99" onclick="connectPath(99)"></div></td>
            </tr>
          </table>
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="no-action" onclick="standStill()">Stand Still</button>
    <div class="row">
      <h1 style="display: inline">Score: </h1><h1 style="display: inline" id="score"></h1>
      <p></p>
      <!-- <h1 style="display: inline">Moves Made: </h1><h1 style="display: inline" id="moves-made"></h1> -->
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary" id="clear" onclick="clearAll()">Clear All</button>
      <button type="button" class="btn btn-primary disabled" id="next" onclick="next()">Next</button>
      <button type="button" class="btn btn-primary disabled" id="finish" onclick="finish()">Finish</button>
    </div>
</div>