<div id="container-exp">
    <div class="row">
        <div class="col-lg-4">
          <h2>Click on adjacent squares to add to the demonstration!</h2>
          <div class="grid-container">
              <div class="grid-item" id="square-0" onclick="connectPath(0)"></div>
              <div class="grid-item" id="square-1" onclick="connectPath(1)"></div>
              <div class="grid-item" id="square-2" onclick="connectPath(2)"></div>
              <div class="grid-item" id="square-3" onclick="connectPath(3)"></div>
              <div class="grid-item" id="square-4" onclick="connectPath(4)"></div>
              <div class="grid-item" id="square-5" onclick="connectPath(5)"></div>
              <div class="grid-item" id="square-6" onclick="connectPath(6)"></div>
              <div class="grid-item" id="square-7" onclick="connectPath(7)"></div>
              <div class="grid-item" id="square-8" onclick="connectPath(8)"></div>
              <div class="grid-item" id="square-9" onclick="connectPath(9)"></div>
              <div class="grid-item" id="square-10" onclick="connectPath(10)"></div>
              <div class="grid-item" id="square-11" onclick="connectPath(11)"></div>
              <div class="grid-item" id="square-12" onclick="connectPath(12)"></div>
              <div class="grid-item" id="square-13" onclick="connectPath(13)"></div>
              <div class="grid-item" id="square-14" onclick="connectPath(14)"></div>
              <div class="grid-item" id="square-15" onclick="connectPath(15)"></div>
              <div class="grid-item" id="square-16" onclick="connectPath(16)"></div>
              <div class="grid-item" id="square-17" onclick="connectPath(17)"></div>
              <div class="grid-item" id="square-18" onclick="connectPath(18)"></div>
              <div class="grid-item" id="square-19" onclick="connectPath(19)"></div>
              <div class="grid-item" id="square-20" onclick="connectPath(20)"></div>
              <div class="grid-item" id="square-21" onclick="connectPath(21)"></div>
              <div class="grid-item" id="square-22" onclick="connectPath(22)"></div>
              <div class="grid-item" id="square-23" onclick="connectPath(23)"></div>
              <div class="grid-item" id="square-24" onclick="connectPath(24)"></div>
              <div class="grid-item" id="square-25" onclick="connectPath(25)"></div>
              <div class="grid-item" id="square-26" onclick="connectPath(26)"></div>
              <div class="grid-item" id="square-27" onclick="connectPath(27)"></div>
              <div class="grid-item" id="square-28" onclick="connectPath(28)"></div>
              <div class="grid-item" id="square-29" onclick="connectPath(29)"></div>
              <div class="grid-item" id="square-30" onclick="connectPath(30)"></div>
              <div class="grid-item" id="square-31" onclick="connectPath(31)"></div>
              <div class="grid-item" id="square-32" onclick="connectPath(32)"></div>
              <div class="grid-item" id="square-33" onclick="connectPath(33)"></div>
              <div class="grid-item" id="square-34" onclick="connectPath(34)"></div>
              <div class="grid-item" id="square-35" onclick="connectPath(35)"></div>
              <div class="grid-item" id="square-36" onclick="connectPath(36)"></div>
              <div class="grid-item" id="square-37" onclick="connectPath(37)"></div>
              <div class="grid-item" id="square-38" onclick="connectPath(38)"></div>
              <div class="grid-item" id="square-39" onclick="connectPath(39)"></div>
              <div class="grid-item" id="square-40" onclick="connectPath(40)"></div>
              <div class="grid-item" id="square-41" onclick="connectPath(41)"></div>
          </div>
        </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary" id="clear" onclick="clearAll()">Clear All</button>
      <button type="button" class="btn btn-primary" id="next" onclick="next()">Next</button>
      <button type="button" class="btn btn-primary disabled" id="finish" onclick="finish()">Finish</button>
    </div>
</div>