<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr />

    <p>Please answer the following questions.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">
            <!-- beginning of a question -->
            <div class="row question">
                Leave any comments you have about the study here!
                <br>
                <textarea id="comments"></textarea>
            </div>
            <!-- end of a question -->
        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-primary btn-lg" onclick="finish()">Finish</button>
            </div>
        </div>
    </div>


</div>
