<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
            You will be moving in a grid.
        </p>

        <p>
            You start at the blue square and can move in only 4 directions (up, down, left, right) by clicking on neighboring squares. You can also choose not to move for a step by clicking 'Stand Still'.
        </p>

        <img src="../../static/images/instructions.png" style="width: 80ch;">


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
