<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">
	    <p>
		    You want to <b>get a high score before getting to the goal.</b>
	    </p>

        <p>
            The goal is the red square.
        </p>

        <p>
            Walking on white gives +1, light gray gives +0.5, dark gray gives -0.5, and black gives -1 points.
        </p>

        <p>
            The value of each color will be shown; some grids will have different values for each color.
        </p>

        <img src="../../static/images/gridworld_example.png" style="width: 80ch;">
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>
