<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            Below is an example environment. In this example, the user has made 2 moves and has 23 moves left to reach the goal, marked in red. The white squares give a score of 1, black squares give -1, and the gray squares give 0. In future environments, different shades of gray will give different reward. <b>The darker shades will give negative scores while lighter shades will give positive scores.</b>
        </p>

        <img src="../../static/images/gridworld_example.png" style="width: 100%;">


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
